h1{
text-align: center;
border-style:outset;
border-color:deepskyblue;
border-radius:25px;
border-width:5px;
padding:5px;


}

table{
    width: 90%;

}

th, td{
border-style:outset;
border-radius: 25px;
padding:10px;
border-color:deepskyblue;
border-width:5px;
width:10%;
text-align: center;

}

tr:hover {
    background-color:lightgray;
}

.lunch{
    background-color:honeydew;
    text-align: center;
}